<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{{ tag.name }}</title>
</head>

<body>
   {{ tag.name }}

   <ul>
      {% for post in tag.posts %}
      <li>
         <a href="/posts/{{ post.id }}">{{ post.title }}</a>
      </li>
      {% endfor %}
   </ul>


   <form action="">
      <button formaction="/tags/{{ tag.id }}/edit" formmethod="GET" class="btn btn-danger">
         Edit
      </button>
      <button formaction="/tags/{{ tag.id }}/delete" formmethod="POST" class="btn btn-danger">
         Delete
      </button>
   </form>

</body>

</html>