<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>User Info</title>
</head>

<body>
   <h1>{{ user.full_name }}</h1>

   <div>
      <!-- {% if user.image_url %} -->
      <img src="{{ user.image_url }}" alt="{{ user.full_name }}">
      <!-- {% endif %} -->
   </div>

   <div>
      <form>
         <button class="btn btn-primary btn-sm" formaction="/users/{{ user.id }}/edit" formmethod="GET">Edit</button>

         <button class="btn btn-danger btn-sm" formaction="/users/{{ user.id }}/delete"
            formmethod="POST">Delete</button>
      </form>
   </div>

</body>

</html>